body {
	font-size: 14px;
	color: rgba(0,0,0,.9);
}

.login-card-wrapper {
	width: 100%;
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.card.login-form-card {
	padding: 0;
	height: 400px;
}

.card.login-form-card .card-image>img {
	height: 100%;
	object-fit: cover;
}

.card.login-form-card .card-content form {
	margin-top: 2.5rem;
}

.card.login-form-card .card-content .login-btn {
	width: 100%;
}