body {
	font-size: 16px;
	color: rgba(0,0,0,.9);
}

.login-card-wrapper {
	width: 100%;
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.card.login-form-card {
	padding: 0;
	height: 400px;
}
.card.login-form-card .card-image>img {
	height: 100%;
	object-fit: cover;
}
.card.login-form-card .card-content form {
	margin-top: 2.5rem;
}
.card.login-form-card .card-content .login-btn {
	width: 100%;
}

/*admin section*/
.sidenav .user-view .background img {
	object-fit: cover;
	width: 100%;
}
.sidenav .user-view .user-avatar {
	object-fit: cover;
}
.sidenav {
	box-shadow: unset;
	border-right: 1px solid rgba(0,0,0,0.14);
}
.main-wrapper {
	margin-left: 300px;
}
.main-wrapper .header {
	padding: 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.14);
}
.main-content {
	padding: 1rem;
}
